
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form-inline" [formGroup]="filterForm">
          <div class="from-group">
            <label for="order" class="sr-only">Order</label>
            <select class="form-control form-control-sm" formControlName="order">
              <option value="ascending" [selected]="'ascending'">Ascending</option>
              <option value="descending">Descending</option>
            </select>
          </div>
          <div class="form-group ml-2">
            <label for="showItem" class="sr-only">Show</label>
            <select  class="form-control form-control-sm" formControlName="showItem" >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
          </div>
          <div class="form-group ml-2">
            <button type="button" class="btn btn-sm btn-primary " (click)="filter()">Filter</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Device list
      <button class="btn btn-sm btn-primary float-right" (click)="openModal(createModal)">Create New</button>
    </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Id</th>
                <th>Active</th>
                <th>CreateDate</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody #deviceTable>
              <tr *ngFor="let item of data; index as i ">
                <td>{{startFrom+i}}</td>
                <td>{{item.name}}</td>
                <td>{{item.uniqueId}}</td>
                <td>
                  <span *ngIf="item.isActive" class="badge badge-success">Yes</span>
                  <span *ngIf="!item.isActive" class="badge badge-danger">No</span>
                </td>
                <td>{{item.createDate | date:'medium'}}</td>
                <td>
                  <button class="btn btn-sm btn-info" (click)='openEditModal(editModal, item.id)' >Edit</button>
                  <button class="btn btn-sm btn-success ml-2" *ngIf="!item.isActive" (click)='ActiveDevice(item.id)'>Active</button>
                  <button class="btn btn-sm btn-warning ml-2" *ngIf="item.isActive" (click)='DeactiveDevice(item.id)'>Deactive</button>
                  <button class="btn btn-sm btn-danger ml-2" (click)='deleteDevice(confirmModal,item.id)'>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination [totalItems]="totalRecords" [itemsPerPage]="itemPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5" [rotate]="true"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
<ng-template #createModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create New Device</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createDeviceForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name"/>
        <span class="text-danger" *ngIf="!name.valid && name.touched">Name field is required</span>
      </div>
      <div class="form-group">
        <label for="uniqueId" class="form-label">Unique Id</label>
        <input type="text" class="form-control" formControlName="uniqueId"/>
        <span class="text-danger" *ngIf="!uniqueId.valid && uniqueId.touched">Unique field is required</span>
      </div>

      <div class="form-group">
        <input type="submit" [disabled]="!createDeviceForm.valid" value="Create" class="btn btn-info btn-sm"/>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Device</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editDeviceForm" (ngSubmit)="UpdateDevice()">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name"/>
        <span class="text-danger" *ngIf="!name.valid && name.touched">Name field is required</span>
      </div>
      <div class="form-group">
        <label for="uniqueId" class="form-label">Unique Id</label>
        <input type="text" class="form-control" formControlName="uniqueId"/>
        <span class="text-danger" *ngIf="!uniqueId.valid && uniqueId.touched">Unique field is required</span>
      </div>
      <div class="form-group">

        <input type="checkbox" formControlName="isActive" />
        <label for="uniqueId" class="form-label ml-1">Active</label>
        <span class="text-danger" *ngIf="!uniqueId.valid && uniqueId.touched">this field is required</span>
      </div>

      <div class="form-group" hidden>
        <label for="uniqueId" class="form-label">Id</label>
        <input type="text" class="form-control" formControlName="id"/>
        <span class="text-danger" *ngIf="!uniqueId.valid && uniqueId.touched">This field is required</span>
      </div>
      <div class="form-group" hidden>
        <label for="uniqueId" class="form-label">Date</label>
        <input type="text" class="form-control" formControlName="createDate"/>
        <span class="text-danger" *ngIf="!uniqueId.valid && uniqueId.touched">This field is required</span>
      </div>

      <div class="form-group">
        <input type="submit" [disabled]="!editDeviceForm.valid" value="Update" class="btn btn-info btn-sm"/>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmModal>
  <div class="modal-body text-center">
    <p>Do you want to delete this item?</p>
    <button type="button" class="btn btn-default" (click)="deleteDeviceConfirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="closeConfirmModal()" >No</button>
  </div>
</ng-template>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
